@{
    ViewBag.Title = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

<style>
    body {
        overflow-y: hidden;
    }

    #fundo {
        width: 100vw;
        height: 100vh;
        background-image: url(../../Content/img/background-image-1.jpg);
        background-size: cover;
    }

        #fundo p {
            font-size: 22px;
            color: #fff;
            font-family: Arial;
            margin-left: 100px;
            padding-top: 30%;
        }
</style>

<div id="fundo">
    <p>
        O show gira em torno das aventuras dos membros da família Smith, que consiste nos pais Jerry e Beth,                <br>
        seus filhos Summer e Morty, e o pai de Beth, chamado Rick Sanchez, que mora com eles como hóspede.                  <br>
        De acordo com Justin Roiland, a família mora fora da cidade de Seattle, no estado norte-americano de Washington.    <br>
    </p>
</div>
